<?xml version = "1.0" encoding = "UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	     http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

  <bean id="triangleService" class="com.zmags.interview.service.triangle.TriangleServiceImpl"></bean>
  <bean id="fileAnalysisService" class="com.zmags.interview.service.analysis.FileAnalysisServiceImpl"></bean>
</beans>
